.bfe-edit-post-button {
    white-space: nowrap;
    background: #007cba;
    border: 1px solid #007cba;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    margin: 0;
    padding: 4px 12px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: Arial;
    position: fixed;
    border-radius: 5px;
    font-size: 17px;
    z-index: 999999999999;
    &:hover{
        color: #fff;
        opacity: .7;
    }
    &.right_bottom{
        right: 15px;
        bottom: 15px;
    }
    &.right_top{
        right: 15px;
        top: 50px;
    }
    &.left_bottom{
        left: 15px;
        bottom: 15px;
    }
    &.left_top{
        left: 15px;
        top: 50px;
    }
}