.bfee-guthen-editor-block {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        margin:0 !important;
        padding: 1rem !important;
        font-weight: 500 !important;
        color:#007cba !important;
    }
}
