.bfe-editor {
    font-family: "Roboto", Tahoma;
    background-color: $white;
    width: 100%;
    border-radius: 5px;
    #bfe-editor-block-header {
        max-width: $editor-max-width;
        margin: 0 auto;
        .sub-header {
            display: flex;
            //justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;
            &:not(:first-child) {
                margin-top: 10px;
            }
            :not(:last-child) {
                margin-right: 10px;
            }
            &.top {
                height: 50px;
                box-shadow: 0 6px 17px -2px rgba(0, 0, 0, 0.02), 0 2px 2px -1px rgba(0, 0, 0, 0.04);
            }
            .editor-button {
                white-space: nowrap;
                background: $white;
                border: $button-border;
                color: $black;
                box-shadow: $button-shadow;
                text-decoration: none;
                text-shadow: none;
                height: 34px;
                line-height: 34px;
                font-size: 15px;
                padding: 0 12px;
                border-radius: 4px;
                font-weight: 400;
                font-family: Arial;
                border-radius: 5px;
                transition: all 0.1s ease-out;
                margin-right: 10px;
                cursor: pointer;
                &:hover {
                    box-shadow: none;
                }
                &.big {
                    padding: 0 20px;
                }
                img {
                    width: 20px;
                }
                &.view-page {
                    display: flex;
                    padding: 0 7px;
                }
                &.hide {
                    display: none;
                }
            }
            p {
                margin: 0;
                font-size: 13px;
                line-height: 1.5;
                color: black;
            }
            a {
                color: $black;
                font-size: 13px;
                &:link,
                &:hover {
                    text-decoration: none;
                }
            }
            label {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                display: block;
            }
            #post_title {
                border: none;
                color: $black;
                width: 100%;
                margin: 0 0 12px;
                resize: none;
                border: 0;
                outline: 0 !important;
                font-size: 36px;
                line-height: 1.3em;
                font-weight: 500;
                &::placeholder {
                    color: grey;
                }
                &:focus {
                    border: none;
                    outline-color: transparent;
                }
            }
            .select-wrap {
                position: relative;
                label{
                    position: absolute;
                    width: 100%;
                    top: 5px
                }
                select {
                    color: $black;
                    cursor: pointer;
                    border: $button-border;
                    box-shadow: $button-shadow;
                    background-color: $white;
                    &#bfe-category {
                        padding: 0 0;
                        max-width: 200px;
                    }
                    &#bfe-tags {
                        padding: 0 0;
                        width: 300px;
                    }
                }
                .select2{
                    min-width: 165px !important;
                }
            }

            .image_loader {
                border: $button-border;
                background-color: $white;
                height: 70px;
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                transition: all 0.1s ease-out;
                box-shadow: $button-shadow;
                border-radius: 5px;
                margin-right: 10px;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                color: $black;
                &:hover {
                    opacity: 0.7;
                }
                #img_inp {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                label.thumbnail {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    display: flex;
                    margin: 0;
                    .button-icon {
                        width: 40px;
                    }
                }
                #post_thumbnail_image {
                    display: none;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-size: cover !important;
                    transition: all 0.4s ease-out;
                }
                .bfe-remove-image {
                    width: 20px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                    display: none;
                    transition: all 0.4s ease-out;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                &.chosen {
                    #post_thumbnail_image {
                        display: block;
                        height: 100%;
                    }
                    .button-icon {
                        display: none;
                    }
                    .bfe-remove-image {
                        display: block;
                    }
                }
            }
        }
    }
    #bfe-editor-block {
        padding-right: 15px;
        padding-left: 15px;
        max-width: $editor-max-width;
        margin: 0 auto;
    }
    .ce-toolbar__settings-btn {
        background: white;
        .icon--dots {
            width: 15px;
            height: 15px;
            color: $black;
        }
    }
    .ce-toolbar__plus {
        background: white;
        .icon--plus {
            color: $black;
        }
    }
}
