.editor-block-settings {
    .title {
        text-align: center;
    }
    .setting-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .components-base-control {
            select {
                display: block;
                max-width: 132px;
            }
        }
    }
}
