.editor-block-settings {
    .title {
        text-align: center;
    }
    .setting-wrap {
        display: flex;
        flex-wrap: wrap;
        :not(:last-child){
            margin-right: 8px;
        }
        .components-base-control {
            select {
                display: block;
                max-width: 200px;
            }
        }
    }
}
