$blue: #388ffe;
.bfe-editor {
    font: 400 13.3333px Arial;
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    #bfe-editor-block-header {
        max-width: 650px;
        margin: 0 auto;
        .sub-header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .editor-button {
                white-space: nowrap;
                background: $blue;
                border: 1px solid $blue;
                color: #fff;
                text-decoration: none;
                text-shadow: none;
                margin: 0;
                padding: 4px 12px;
                font-weight: 400;
                margin-bottom: 5px;
                font-family: Arial;
                border-radius: 5px;
                font-size: 17px;
                transition: all 0.1s ease-out;
                cursor: pointer;
                &:hover {
                    color: #fff;
                    opacity: 0.7;
                }
            }
            p {
                margin: 0;
                font-size: 13px;
                line-height: 1.5;
                color: black;
            }
            a {
                color: $blue;
                font-size: 13px;
                &:link,
                &:hover {
                    text-decoration: none;
                }
            }
            label{
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                display: block;
            }
            input[type="text"] {
                border: none;
                font-size: 25px;
                font-weight: 600;
                padding: 15px 0px;
                color: black;
                width: 100%;
                &::placeholder {
                    color: grey;
                }
                &:focus {
                    border: none;
                    outline-color: transparent;
                }
            }
            select {
                color: grey;
                font-weight: 700;
                cursor: pointer;
                max-width: 165px;
                border-radius: 5px;
                width: 100%;
                height: 2.25em;
                min-height: auto;
                border: 1px solid #ddd;
                background-color: white;
                cursor: pointer;
                padding: 0 15px;
                margin: 0;
                font-size: 14px;
                margin: 5px 0px;
                &#bfe-category{
                    padding: 0 0;
                    max-width: 170px;
                }
            }
            .image_loader {
                border: 1px solid #ddd;
                background-color: #edeff0;
                height: 100px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                transition: all 0.1s ease-out;
                box-shadow: 0 0 0 0 $blue;
                border-radius: 5px;
                margin: 5px 0px;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                &:hover {
                    opacity: 0.7;
                }
                #img_inp {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                label.thumbnail {
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 0;
                    font-size: 13px;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                #post_thumbnail_image {
                    display: none;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-size: cover !important;
                    transition: all 0.4s ease-out;
                }
                .bfe-remove-image {
                    width: 20px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                    display: none;
                    transition: all 0.4s ease-out;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                &.chosen {
                    #post_thumbnail_image {
                        display: block;
                        height: 100px;
                    }
                    .bfe-remove-image {
                        display: block;
                    }
                }
            }
        }
    }
    .ce-toolbar__settings-btn {
        background: white;
        .icon--dots {
            width: 15px;
            height: 15px;
            color: $blue;
        }
    }
    .ce-toolbar__plus {
        background: white;
        .icon--plus {
            color: $blue;
        }
    }
}
