#fe-fromBuilder{
    #postbox-container-1 {
        position: fixed;
        left: 180px;
        bottom: 0;
        margin: 0 !important;
        float: inherit;
        z-index: 2;
        //display: none;
        #side-sortables {
            min-height: auto;
        }
        .postbox-header {
            display: none;
        }
        #minor-publishing {
           display: none;
        }
    }
    #poststuff {
        margin: 0;
        #post-body {
            margin: 0;
        }
        #front_editor_metabox {
            border: 0;
            background-color: transparent;
            .postbox-header {
                display: none;
            }
            .inside {
                padding: 0;
            }
        }
    }

    .settings-header {
        display: flex;
        justify-content: space-between;
        #save-form-post {
            align-self: baseline;
            white-space: nowrap;
            background: #007cba;
            border: 1px solid #007cba;
            color: #fff;
            text-decoration: none;
            text-shadow: none;
            margin: 0;
            padding: 4px 12px;
            font-weight: 400;
            margin-bottom: 5px;
            font-family: Arial;
            cursor: pointer;
            border-radius: 5px;
            font-size: 17px;
            z-index: 999999999999;
            &:hover {
                color: #fff;
                opacity: 0.7;
            }
        }
    }
}
