#bfe-editor-block-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    #save-editor-block {
        white-space: nowrap;
        background: #007cba;
        border: 1px solid #007cba;
        color: #fff;
        text-decoration: none;
        text-shadow: none;
        margin: 0;
        padding: 4px 12px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        font-size: 13px;
        line-height: 1.5;
    }
    a {
        color: #0073aa;
        font-size: 13px;
        &:link,
        &:hover {
            text-decoration: none;
        }
    }
}
