.bfe-editor {
    background-color: white;
    #bfe-editor-block-header {
        .sub-header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .editor-button {
                white-space: nowrap;
                background: #007cba;
                border: 1px solid #007cba;
                color: #fff;
                text-decoration: none;
                text-shadow: none;
                margin: 0;
                padding: 4px 12px;
                font-weight: 400;
                margin-bottom: 5px;
                font-family: Arial;
                border-radius: 5px;
                font-size: 17px;
                transition: all 0.1s ease-out;
                cursor: pointer;
                &:hover {
                    color: #fff;
                    opacity: 0.7;
                }
            }
            p {
                margin: 0;
                font-size: 13px;
                line-height: 1.5;
            }
            a {
                color: #0073aa;
                font-size: 13px;
                &:link,
                &:hover {
                    text-decoration: none;
                }
            }
            input[type="text"] {
                border: none;
                font-size: 25px;
                font-weight: 600;
                padding: 15px 0px;
                &::placeholder {
                    color: grey;
                }
            }
            select {
                border: none;
                color: grey;
                font-weight: 700;
                cursor: pointer;
            }
            .image_loader {
                border: 1px dashed #a2aab2;
                background-color: #edeff0;
                height: 100px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                transition: all 0.1s ease-out;
                box-shadow: 0 0 0 0 #00a0d2;
                border-radius: 5px;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                &:hover {
                    opacity: 0.7;
                }
                #img_inp {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                label.thumbnail {
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 0;
                    font-size: 13px;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                #post_thumbnail_image {
                    display: none;
                    width: 100%;
                    height: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-size: cover !important;
                    transition: all 0.4s ease-out;
                }
                .bfe-remove-image {
                    width: 20px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    cursor: pointer;
                    display: none;
                    transition: all 0.4s ease-out;
                    &:hover{
                        opacity: .7;
                    }
                }
                &.chosen {
                    #post_thumbnail_image {
                        display: block;
                        height: 100px;
                    }
                    .bfe-remove-image {
                        display: block;
                    }
                }
            }
        }
    }
}
